

.carousel{
    border: 5px inset grey;


}

html,body{
  height:100%;
}
.page-footer{
  padding-bottom:5em;
  text-shadow:none;
  font-weight:300;
}

.footer{
  height: 60px;
 background-color:#FFF;
  position:absolute;
  padding-top:1em;
  opacity:.5;

}
#pf1{

}
.book{
  padding-bottom:5em;
}
#c1{

  font-weight:100;
  letter-spacing:.5em;
}
#c2{

  font-weight:100;
  letter-spacing:.5em;
}
#c3{

  font-weight:100;
  letter-spacing:.5em;
}
#c4{

  font-weight:100;
  letter-spacing:.5em;
}

#facebookicon{
  padding:1em;
}
#instagramicon{
  padding:1em;
}
#twittericon{
  padding:1em;
}
#pinteresticon{
  padding:1em;
}

.AboutMe img{
  max-height:100%;
  max-width:100%;

}
.thumbnail img{
  max-height: 100%;
    max-width: 100%;

}

   a:link{
  color:#2D2D34;
     text-decoration:none;}
a:hover{

     text-decoration:none;
     color:white;
}
#maternity{
  padding:3em;
  letter-spacing:.2em;
}
#newborn{
  padding:3em;
  letter-spacing:.2em;
}
#family{
  padding:3em;
  letter-spacing:.2em;
}
#weddings{
  padding:3em;
  letter-spacing:.2em;
}
#aboutme{
  padding:3em;
  letter-spacing:.2em;
}
#bookasession{
  padding:3em;
  letter-spacing:.2em;
}

.Maternity{
  background-color:#E2E2E2;

  text-shadow: 2px 2px 8px  black;

}

.Newborn{
  background-color:#E2E2E2;
  border: 5px double grey;
  text-shadow: 2px 2px 8px  black;

}

.Family{
  background-color:#E2E2E2;

  text-shadow: 2px 2px 8px  black;

}

.Weddings{
  background-color:#E2E2E2;

  text-shadow: 2px 2px 8px  black;

}

.AboutMe{
  background-color:476A6F;

  padding:10em;
}
.page-header{
  background-color:#E2E2E2;
  font-family: 'Playfair Display';
  border: 5px double grey;
}

.page-header h1{
  font-weight: 300;
  letter-spacing:25px;

}

.page-header h3{
  font-style:lighter;
  letter-spacing:15px;

}

.list-inline{
  font-style:italic;
  font-weight:500;
}

.Maternity h1{
  font-weight: 100;
  letter-spacing:2em;
  padding-bottom:2em;
  padding-top:2em;
}

.Newborn h1{
  font-weight: 100;
  letter-spacing:2em;
  padding-bottom:2em;
   padding-top:2em;
}
.contact h1{
  font-weight:300;
  letter-spacing:.1em;
  padding-bottom:1em;
}
.AboutMe h1{
  font-weight: 300;
  letter-spacing:1em;
  padding-bottom:2em;
}
.AboutMe{
 background: url(https://images.unsplash.com/photo-1414269665217-a57681e266b3?dpr=2&auto=format&fit=crop&w=1500&h=1071&q=80&cs=tinysrgb&crop=);
  background-repeat: no-repeat;
}

.Family h1{
  font-weight: 100;
  letter-spacing:2em;
  padding-bottom:2em;
   padding-top:2em;
}

.Weddings h1{
  font-weight: 100;
  letter-spacing:2em;
  padding-bottom:2em;
   padding-top:2em;
}
.fa fa-heart{
  text-decoration:none;
}
input{
  width:100%;
  padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  letter-spacing:.25em;
  font-weight:100
}
textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  letter-spacing:.25em;
}

.fa-heart{
  color:red;
}
.fa-instagram{
  color:black;
}

.fa-facebook{
  color:black;
}
.fa-twitter{
  color:black;
}
.fa-pinterest{
  color:black;
}

.carousel .item {
  max-height: 750px;
  min-width: auto;
}

.contact h1{
  font-weight: 100;
  letter-spacing:1em;
  padding-bottom:2em;
   padding-top:2em;
  text-shadow: 2px 2px 8px  black;
}

.AboutMe h1{
  font-weight: 100;
  letter-spacing:1em;
  padding-bottom:2em;
   padding-top:2em;
  text-shadow: 2px 2px 8px  black;
}
